.counter{
    display: flex;
}
.counter button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bd0000; /* Green */
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4375rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
