@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');

h2{
    font-family: 'Love Light', cursive;
    font-size: 5rem;
    margin: 1px;
}

.menuPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
ul {
    list-style: none;
}
li {
    margin: 32px 0px;
    text-align: center;
}
.a-link {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.4375rem;
    border-radius: 8px;
    text-decoration: none;
    padding: 15px 30px;
    background: #bd0000;
    width: fit-content;
}
.cartWidget{
    display: flex;
    justify-content: flex-end;
}